{% extends "pizzas/base.html" %}

{% block content %} 

<div style="background-image:url('https://cdn.pixabay.com/photo/2020/03/21/02/26/pizza-4952508_1280.jpg');
    padding:10px;width:auto;height:5000px;border:1px solid black;background-repeat:no-repeat;">

<p style="color:rgb(188, 0, 0);font-family:'Garamond';font-size:60px;text-align:left;"> Slattery Gourmet Pizzeria </p>

<p style="color:rgb(188, 0, 0);font-family:'Garamond';font-size:30px;text-align:left;"> Welcome! Please consider our delicious menu! </p>"
</div>

{% endblock content %} 

